body {
    font-family: 'Arial', sans-serif;
}

.seat-button {
    width: 7.5rem;
    background-color: #b1bbcf; /* Light gray for available seats */
    border-radius: 0.75rem;
    cursor: pointer;
    transition: background-color 0.2s;
}


.seat-button.selected {
    background-color: #047a0a; /* Green for selected seats */
}
